.statistics {
  background-color: white;
  border-radius: 8px;
  width: 280px;
  text-align: center;
  padding: 10px;

  margin-bottom: 20px;
}
.title {
  margin-top: 0;
  margin-bottom: 10px;
}
.stat-list {
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  list-style: none;
}
